Checks: '*,
-cppcoreguidelines-*,-google-*,-fuchsia-*,-hicpp-*,-cert-*,-clang-*,-llvmlibc-*,-altera-*,
-bugprone-easily-swappable-parameters,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-narrowing-conversions,
-bugprone-use-after-move,
-llvm-header-guard,
-llvm-include-order,
-llvm-namespace-comment,
-llvm-qualified-auto,
-misc-non-private-member-variables-in-classes,
-misc-no-recursion,
-misc-use-after-move,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
-performance-no-int-to-ptr,
-readability-braces-around-statements,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-redundant-access-specifiers,
-readability-isolate-declaration,
-readability-qualified-auto,
-readability-convert-member-functions-to-static,
-readability-misleading-indentation,
-readability-function-cognitive-complexity,
-readability-identifier-length,

google-readability-casting'

HeaderFilterRegex: ''